.offers-deals__title {
	padding: 40px 0 20px;
}

.offers-deals__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 -20px;
}

.offers-deals__item {
	position: relative;
	padding: 20px;
	width: 50%;

	&--gold-medal::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		background: transparent url('../img/gold-medal.svg') center no-repeat;
		background-size: contain;
	}
}


@media (max-width: 960px) {
	.offers-deals__list {
		display: block;
		margin: 0;
	}

	.offers-deals__item {
		padding: 0 0 20px;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.offers-deals__item {

		&--gold-medal::before {
			width: 40px;
		    height: 40px;
		    left: -10px;
		    bottom: 10px;
		}
	}
}